/* login model */
.model{
    background: #fff;
    position: fixed;
    top: 5%;
    width: 45%;
    left: 27.5%;
    right: 27.5%;
    color: var(--main-color);
}
.model .model__container{
    text-align: center;
    padding: 15px 0;
}
.model .model__title{
    padding-bottom: 5px;
    border-bottom: 1px solid #eff2f7;
}
.model .model__item{
    padding-top: 50px;
}
.model .model__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.model .model__form a{
    display: block;
    width: 67%;
    text-align: left;
}
.model .model__input{
    width: 70%;
    padding: 6px;
    background: #eff2f7;
    border-radius: 4px;
    border: 0;
    display: block;
    height: 45px;
    outline: 0;
}
.model .model__label{
    display: block;
    margin-bottom: 10px;
    font-family: var(--main-font);
}
.model .model__btn{
    width: 55%;
    padding: 10px;
    background-color: #fff;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    border: 0;
    box-shadow: -1px 0px 5px #d1d1d1;
    border-radius: 4px;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.model .model__btn--login{
    background-color: #D4050B;
    color: #fff;
    width: 70%;
}
