/*  */
@media only screen and (max-width: 992px)
{
    main{
        padding: 0;
    }
    section{
        padding-top: 20px;
    }
    .book-type h1{
        font-size: 16px;
    }
    .header{
        padding: 0px 30px 0;
    }
    .header .header__title{
        font-size: 18px;
    }
    .header .header__link {
        left: 20px;
    }
    /* navegation desktop block */
    .nav{
        display: none;
    }
    /* header grid */
    .top-header{
        grid-template-columns: repeat(4,auto);
        padding: 7px 15px;
        align-items: center;
        gap: 20px;
        border-bottom: 1px solid #e4e8eb;
    }
    #nav{
        display: block;
    }
    .logo{
        text-align: initial;
    }
    .logo img {
        width: 70%;
    }
    /* search block */
    .search{
        height: 35px;
    }
    /* cart block */
    .cart{
        width: 35px;
        height: 35px;
    }
    .cart .cart__icon{
        width: 92%;
    }
    /* advertisement block */
    .advertisement{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .advertisement .advertisement__item--main {
        grid-column: span 2;
    }
    /* category block */
    .category .category__item{
        min-width: 15%;
    }
    /* book block */
    .book-title .book-title__item{
        font-size: 12px;
    }
    .book-price .book-price__price {
        font-size: 25px;
    }
    .book-price{
        margin-top: 0;
    }    
    .book-link {
        font-size: 12px;
    }  
    /* footer */
    section.footer{
        grid-template-columns: 1fr;
    }
    .box .box__item{
        display: none;
    }
    /* model */
    .model {
        width: 60%;
        left: 20%;
        right: 20%;
    }
}

@media only screen and (max-width: 768px)
{
    .card{
        min-width: 25%;
    }
    .menu__item .logo-menu img {
        width: 65%;
    }
     /* model */
     .model {
        width: 70%;
        left: 15%;
        right: 15%;
    }
}

@media only screen and (max-width: 576px)
{
    .card{
        min-width: 50%;
    }
    /* category block */
    .category .category__item{
        min-width: 25%;
        margin: 0 8px;
        padding: 8px 5px 14px;
    }
    .category .category__title{
        font-size: 16px;
    }
    .category .category__img{
        width: 40%;
    }
    .logo img {
        width: 100%;
    }
    .menu__item .logo-menu img {
        width: 75%;
    }
    /* model */
    .model {
        width: 90%;
        left: 5%;
        right: 5%;
    }
}
